<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ts_idp_nemid</display-name>
	<description>ts_idp_nemid</description>

	<context-param>
		<param-name>config.dir</param-name>
		<param-value>/opt/service/properties/ts_idp_dk_nemid</param-value>
	</context-param>

	<servlet>
		<servlet-name>dk_nemid_initconfig</servlet-name>
		<servlet-class>no.bbs.trust.ts.idp.nemid.startup.InitConfig</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dk_nemid_initerrors</servlet-name>
		<servlet-class>no.bbs.trust.common.webapp.servlets.InitErrors</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dk_nemid_initdb</servlet-name>
		<servlet-class>no.bbs.trust.ts2.idp.common.init.InitDB</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>common_initi18n</servlet-name>
		<servlet-class>no.bbs.trust.common.webapp.servlets.InitI18n</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>dk_nemid_initidp</servlet-name>
		<servlet-class>no.bbs.trust.ts.idp.nemid.startup.InitDKNEMID</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<display-name>dknemid_index</display-name>
		<servlet-name>dknemid_index</servlet-name>
		<servlet-class>no.bbs.trust.ts.idp.nemid.servlet.Index</servlet-class>
		<load-on-startup>127</load-on-startup>
	</servlet>

	<servlet>
		<display-name>dknemid_verify</display-name>
		<servlet-name>dknemid_verify</servlet-name>
		<servlet-class>no.bbs.trust.ts.idp.nemid.servlet.Verify</servlet-class>
		<load-on-startup>127</load-on-startup>
	</servlet>

	<servlet>
		<display-name>dknemid_refresh</display-name>
		<servlet-name>dknemid_refresh</servlet-name>
		<servlet-class>no.bbs.trust.ts.idp.nemid.servlet.RefreshCache</servlet-class>
		<load-on-startup>127</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dknemid_index</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dknemid_verify</servlet-name>
		<url-pattern>/verify.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dknemid_refresh</servlet-name>
		<url-pattern>/refresh.cache</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>JDBC Connection Pool</description>
		<res-ref-name>jdbc/TrustSignDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
