###############################################################
# IDP-NEMID settings
cprreg.truststore=/opt/BBS/properties/ti2_idp_nemid/clientTrustStore
cprreg.password=Test1234
#cprreg.url=https://test.pid.certifikat.dk/pidxml/pid
#cprreg.url=https://pidws.et.certifikat.dk/pid_serviceprovider_server/pidxml/
cprreg.url=https://pidws.pp.certifikat.dk/pid_serviceprovider_server/pidxml/
#applet.url.prefix=https://syst2ext.danid.dk
applet.url.prefix=https://appletk.danid.dk

#use danid preprod env
danid.environment=OCESII_DANID_ENV_PREPROD

proxy.host=172.21.64.14
proxy.port=8080

# Application code groups
#
# USERCANCEL - User action caused error
# OPERCANCEL - Operation cancelled or interrupted by eID FOI
# BADPROTOCOL - Protocol violation, or no response from server
# UIDREVOKED - User ID cancelled or revoked
# UIDINVALID - User ID/type not valid for current operation
# UIDEXPIRED - Exactly that!
nemid.codegroup.usercancel=can001,can002,app005
nemid.codegroup.opercancel=app005
nemid.codegroup.badprotocol=app003,app004,srv001,srv002,srv003
nemid.codegroup.uidrevoked=lock001,lock002,lock003
nemid.codegroup.uidinvalid=oces001
nemid.codegroup.uidexpired=
nemid.codegroup.authfailed=app001,auth001,auth002,auth003,auth004,auth005,auth006,auth007.auth008

# EOF #########################################################